.ViewerPageContainer
{
    background-color: white;
    border: none;
    position: relative;
    top: -1px;
    width: 550px;
    z-index: 0;
}

.tabContainer a
{
    position: relative;
    top: 3px !important;
}

.ViewerWrapper
{
    padding-left: 10px;
}
        
.ViewerItem
{
    width: 500px;
    height: 500px;
    overflow: hidden;
    border:none;
}

